@import '../../../../styles/colors.scss';

hgroup {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .calendarWrap {
    width: 70px;
    margin-right: 16px;
  }

  > h2 {
    color: $primaryDark;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.answersList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 24px;
}

@media only screen and (max-width: 600px) {
  hgroup {
    .calendarWrap {
      width: 50px;
    }

    > h2 {
      font-size: 1.2rem;
    }
  }
}
